# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# PyCharm
.idea/

# Playwright
playwright-report/
test-results/

# Screenshots
screenshots/

# Reports
reports/

# OS files
.DS_Store
Thumbs.db


